<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title>Angular</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
                <ul class="menu cf">
                    <li><a routerLink="">Home page</a></li>
                    <li>
                        <a>Category</a>
                        <ul class="submenu">
                             <li *ngFor="let category of categorys" ><a routerLink="products/proCate/{{category._id}}">{{category.name}}</a></li>
                         </ul>
                    </li>
                    <li><a routerLink="/admin/products">Admin</a></li>
                    <li><a routerLink="">SignUp</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/cart"><app-cart></app-cart></a></li>
                  </ul>
              </nav>
        </header>
        
        <main>
            <router-outlet>
            </router-outlet>
    </main>
        <footer>
        </footer>
    </div>
</body>
</html>
